<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.example.SpringcloudOrdermsApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="springcloud-orderms"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenSourcePathProvider"/>
<stringAttribute key="process_factory_id" value="org.springframework.ide.eclipse.boot.launch.process.BootProcessFactory"/>
<stringAttribute key="spring.boot.lifecycle.termination.timeout" value="15000"/>
<stringAttribute key="spring.boot.livebean.port" value="0"/>
</launchConfiguration>
